<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>

        <link rel="stylesheet" type="text/css" href="Assets/styles/mainstyle.css" />
        <link id="pagestyle" rel="stylesheet" type="text/css" href="Assets/styles/dark.css" />
    </head>
    <body>
        <div class="navbar">
            <div class="left">
                <p>=</p> <!--This will be an expand icon-->
                <a href="/">Home</a>
                <a href="/about">About</a>    
            </div>
            <div class="right">
                <p onclick="swapStyleSheet()">Change Style</p>
            </div>
        </div>

        <div class="banner">
            <img src="Assets/images/galaxy.png">
            <h1>Home</h1>
        </div>
        
        <div class="main">
            {Articles}
        </div>

        <script src="/Assets/scripts/main.js"></script>
    </body>
</html>